.schedule {
    position: relative;
    font-size: 14px;
}

.schedule__item {
    color: #cb2376;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    left: 80px;
    position: relative;
}

.schedule__item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 19px;

    background: #cb2376;
}

.schedule__item--red {
    left: 0;
}

.schedule__text--red {
    color: #cb2376;
}

.schedule__block {
    position: absolute;
    padding: 9px 39px 13px 7px;
    border-radius: 5px;
    background: #ffffff;
    right: 2px;
    top: 35px;
    box-shadow: 1px 1px 1px 0px black;
    transition: 2s all;
}

.schedule__text {
    display: block;
}

.schedule__block {
    display: none;
}

.schedule:hover .schedule__block {
    display: inline-block;
}