.socials {
    text-align: center;
    margin-top: 20px;
}

.socials__title {
    font-size: 14px;
    font-weight: bold;
}

.socials__list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socials__item {
    margin-right: 18px;
}

.socials__item:last-child {
    margin: 0;
}